<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.infusion.mapper.BalanceMapper">

    <resultMap id="BaseResultMap" type="com.example.infusion.domain.Balance">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="balance" column="balance" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,balance
    </sql>
</mapper>
